<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test thread-count="5" name="UItestsuite">
    <classes>
      <class name="testsuite.UItestsuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
